<div class="block-box">
  <% if(type === 'file') { %>
  <div class="block-item">
    <embed
      src="<%= src %>"
      width="100%"
      height="<%- height %>"
      type="application/pdf"
    />
  </div>
  <% } else if (type === 'web'){ %>
  <div class="block-item">
    <iframe
      src="<%= src %>"
      width="100%"
      height="<%- height %>"
      frameborder="no"
      border="0"
      marginwidth="0"
      marginheight="0">
    </iframe>
  </div>
  <% } else if (type === 'mk'){ %>
  <div class="block-item">
    <svg
      class="markmap"
      data-mk="<%- mkContent %>"
      width="100%"
      height="<%- height %>"
    ></svg>
  </div>
  <% } else if (type === 'music'){ %>
  <div class="block-item">
    <iframe
      frameborder="no"
      border="0"
      marginwidth="0"
      marginheight="0"
      width="330"
      height="86"
      src="//music.163.com/outchain/player?type=2&id=<%= id %>&auto=1&height=66"
    >
    </iframe>
  </div>
  <% } else if (type === 'video'){ %>
  <iframe
    src="//player.bilibili.com/player.html?bvid=<%= id %>"
    scrolling="no"
    border="0"
    frameborder="no"
    framespacing="0"
    allowfullscreen="true"
    style="width:100%;height:30rem;"
  >
  </iframe>
  <% } else if (type === 'demo'){ %>
    <div class="block-item block-demo demo-box" width="100%" height="auto">
      <% if (link){ %>
        <iframe
          src="<%= link %>"
          width="<%- width %>"
          height="<%- height %>"
          frameborder="no"
          border="0"
          marginwidth="0"
          marginheight="0">
        </iframe>
      <% } else { %>
        <%- content %>
      <% } %>
    </div>
  <% } %>
</div>
